<form [formGroup]="formGroup" class="container">
    <div class="input-field">
        <label for="timer">Timer, ms</label>
        <input #timerInput formControlName="timer" id="timer" type="number" [ngClass]="{ 'invalid': formGroup.controls['timer'].invalid }">
        <div *ngIf="formGroup.controls['timer'].invalid" class="alert">
            Required, only positive numbers allowed
        </div>
    </div>
    <div class="input-field">
        <label for="array-size">Array size</label>
        <input #arraySizeInput formControlName="arraySize" id="array-size" type="number" [ngClass]="{ 'invalid': formGroup.controls['arraySize'].invalid }">
        <div *ngIf="formGroup.controls['arraySize'].invalid" class="alert">
            Required, only positive numbers allowed
        </div>
    </div>
    <div class="input-field large">
        <label for="id-list">Additional array ids</label>
        <input #idListInput formControlName="idList" id="id-list" type="text">
    </div>
</form>
