:host {
    --cell-border: .5px solid black;
}

table {
    width: 100%;
    max-width: 100%;
    border: 1px solid black;

    border-collapse: separate;
    border-spacing: 0 .3em;

    padding: 20px;

    td {
        text-align: center;
        padding: 5px;
    }

    tr {
        td {
            border: var(--cell-border);
            border-right: none;
            border-left: none;

            &:last-of-type {
                border-right: var(--cell-border);
            }

            &:first-of-type {
                border-left: var(--cell-border);
            }
        }
    }

    .data-row {
        margin: 10px;
        border: 1px solid black;

        .simple-text-cell {
            width: 15%;
        }
    }

    .child-table {
        td, td:first-of-type, td:last-of-type {
            border: none;
        }
    }
}
